<div class="table_left">
   <div class="left_margin_menu_item">
      {{#ifEqual section 'terms-of-service'}}
         <span class="selected">TERMS OF SERVICE</span>
      {{else}}
         <a href="/terms">TERMS OF SERVICE</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'terms:eula'}}
         <span class="selected">END USER LICENSE AGREEMENT</span>
      {{else}}
         <a href="/terms/eula">END USER LICENSE AGREEMENT</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'terms:privacy-statement'}}
         <span class="selected">PRIVACY STATEMENT</span>
      {{else}}
         <a href="/terms/privacy-statement">PRIVACY STATEMENT</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'terms:sales-terms'}}
         <span class="selected">SALES TERMS</span>
      {{else}}
         <a href="/terms/sales-terms">SALES TERMS</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'terms:privacy-policy'}}
         <span class="selected">PRIVACY POLICY</span>
      {{else}}
         <a href="/terms/privacy-policy">PRIVACY POLICY</a>
      {{/ifEqual}}
   </div>
</div>
